<%- include('../../partials/head.ejs',{tittle: 'Enternal Server Error'}) %>

<div class="container card text-center notfound " >
    <div class="notfound ">
        <h2 class="dispaly-3">Enternal Server Error</h2>
        <p>Please Wait a few minite .</p>
        <a href="/dashboard">Go To Homepage</a>
    </div>
</div>


 <%- include('../../partials/footer.ejs') %>
</body>
</html>

