<div class="list-group">
    <a href="/dashboard" class="list-group-item list-group-item-action active">
      Dashboard
    </a>
    <a href="/posts/create" class="list-group-item list-group-item-action">New Post</a>
    <a href="/posts" class="list-group-item list-group-item-action">My Post</a>
    <a href="/dashboard/bookmarks" class="list-group-item list-group-item-action">Bookmarks</a>
    <a href="/dashboard/comments" class="list-group-item list-group-item-action">Comments</a>
    <a href="/dashboard/edit-profile" class="list-group-item list-group-item-action">Edit Profile</a>
    <a href="/auth/change-Password" class="list-group-item list-group-item-action">Change Password</a>
    <a href="/auth/logout" class="list-group-item list-group-item-action">Logout</a>
    <a href="/auth/delete" class="list-group-item list-group-item-action">Delete Account</a>
  
  </div>